<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid"   >
    <div class="row sidebar" [style.display]="show ? 'block':'none'">
  <div id="6" class="col-sm-6 " >
    
 <label class="mt400"> Lorem ipsum dolor sit amet consectetuer 6</label>
</div>
</div>
<div id="1" style="display:none">
    Lorem ipsum dolor sit amet consectetuer 1
  </div>
  <div id="2"  style="display:none">
      Lorem ipsum dolor sit amet consectetuer2
    </div>
    <div id="3"  style="display:none">
        Lorem ipsum dolor sit amet consectetuer3
      </div>
      <div id="4"  style="display:none">
          Lorem ipsum dolor sit amet consectetuer4
        </div>
        <div id="5"  style="display:none">
            Lorem ipsum dolor sit amet consectetuer5
          </div>
</div>

