<!--The content below is only a placeholder and can be replaced.-->

<div  >
  <div id="6"  [style.display]="show ? 'block':'none'" style="float:left;background-color: bisque;margin-top:50px;width:25%;height:800px">
    
  Lorem ipsum dolor sit amet consectetuer 6
</div>
<div id="1" style="display:none">
    Lorem ipsum dolor sit amet consectetuer 1
  </div>
  <div id="2"  style="display:none">
      Lorem ipsum dolor sit amet consectetuer2
    </div>
    <div id="3"  style="display:none">
        Lorem ipsum dolor sit amet consectetuer3
      </div>
      <div id="4"  style="display:none">
          Lorem ipsum dolor sit amet consectetuer4
        </div>
        <div id="5"  style="display:none">
            Lorem ipsum dolor sit amet consectetuer5
          </div>
</div>

